# 04 Case study 1_ Diversity analytics

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

# Example 1: gender and job grade analysis using frequency tables and chi square

Please download the original file converted to csv.

In [2]:
df = pd.read_csv("Chapter 4Diversity 1.csv")

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,BossGender,Gender,JobGrade,Age,Tenure,Status,PerformanceScore,BossPerformance,Division,Country,leaver
0,1,1.0,6,39,0,1,4.0,4.0,12,3,1.0
1,1,1.0,5,37,6,1,4.0,3.0,12,4,1.0
2,1,1.0,5,35,1,1,4.0,3.0,6,7,1.0
3,1,1.0,3,30,3,1,4.0,3.0,6,7,1.0
4,1,1.0,6,33,0,1,NaN,3.0,8,7,1.0

In [4]:
print(df.shape)

(1493, 11)

In [5]:
#df.info()

In [6]:
# Table 4.3
data_crosstab = pd.crosstab(df['JobGrade'],
                            df['Gender'],
                            margins=True)
data_crosstab.columns = ['Number of Women in Role',
                         'Number of Men in Role',
                         'Number of People Currently in Role']
data_crosstab.index = ['Clerical/Officer','Administrator/Assistant','Graduate/Trainee Consultant',
                       'Consultant','Senior Consultant','Managing Consultant',
                       'Principal Consultant','Partner', "Total"]
data_crosstab

,Number of Women in Role,Number of Men in Role,Number of People Currently in Role
Clerical/Officer,31,8,39
Administrator/Assistant,227,116,343
Graduate/Trainee Consultant,160,103,263
Consultant,139,104,243
Senior Consultant,98,152,250
Managing Consultant,68,171,239
Principal Consultant,19,62,81
Partner,4,29,33
Total,746,745,1491

## Results

In [7]:
chi2, p, dof, exp = stats.chi2_contingency(data_crosstab, correction=False)
print("expected frequency", "\n", exp)
print("degree of freedom", "\n", dof)
print("chi-square value", "\n", chi2)
print("p-value", "\n", p)

expected frequency
 [[  19.51307847   19.48692153   39.        ]
 [ 171.61502347  171.38497653  343.        ]
 [ 131.58819584  131.41180416  263.        ]
 [ 121.58148893  121.41851107  243.        ]
 [ 125.08383635  124.91616365  250.        ]
 [ 119.58014755  119.41985245  239.        ]
 [  40.52716298   40.47283702   81.        ]
 [  16.5110664    16.4889336    33.        ]
 [ 746.          745.         1491.        ]]
degree of freedom
 16
chi-square value
 164.69922896095545
p-value
 9.578060074090229e-27

**In this organization women are under-represented in senior roles (to a level of certainty that means it pretty much could never happen by chance alone) and no one could try to deny it due to the overwhelming evidence.**

# Example 2a: exploring ethnic diversity across teams using descriptive statistics

Please download the original file converted to csv.

In [8]:
df2 = pd.read_csv("Chapter 4Diversity CASE Group level data.csv")

In [9]:
pd.set_option('display.max_columns', None)
df2.head()

,DepartmentGroupNumber,GroupSize,PercentMale,BAME,NumberTeamLeads,NumberFeMaleTeamLeads,Location,LondonorNot,Function,EMPsurvEngage_1,EMPsurvEngage_2,EMPsurvEngage_3,EMPsurvEngage_4,EMPsurvEngage_5,EMPsurvEngage_6,EMPsurvEngage_7,EMPsurvEngage_8,EMPsurvEngage_9,EMPsurvEngagement,EMPorgIntegrity1,EMPorgIntegrity2,EMPorgIntegrity3,EMPorgIntegrity4,EMPorgIntegrity5,EmpSurvOrgIntegrity,EMPsurvSUP1,EMPsurvSUP2,EMPsurvSUP3,EMPsurvSUP4,EmpSurvSupervisor
0,18,18.0,65.0,NaN,3.0,1.0,1,1,2.0,100.0,100.0,94.0,78.0,100.0,94.0,89.0,72.0,78.0,89.0,72.0,78.0,89.0,89.0,18.0,69.2,72.0,89.0,89.0,83.0,83.25
1,19,28.0,67.0,NaN,4.0,0.0,1,1,2.0,96.0,86.0,86.0,54.0,96.0,57.0,89.0,82.0,82.0,81.0,75.0,86.0,89.0,89.0,19.0,71.6,79.0,79.0,64.0,82.0,76.00
2,29,11.0,33.0,NaN,2.0,0.0,1,1,2.0,100.0,91.0,100.0,82.0,100.0,82.0,100.0,73.0,91.0,91.0,73.0,91.0,91.0,91.0,29.0,75.0,73.0,91.0,73.0,73.0,77.50
3,30,17.0,32.0,NaN,2.0,0.0,1,1,2.0,100.0,100.0,100.0,94.0,100.0,88.0,100.0,88.0,94.0,96.0,100.0,100.0,100.0,100.0,30.0,86.0,100.0,100.0,100.0,100.0,100.00
4,35,32.0,18.0,NaN,5.0,3.0,1,1,2.0,81.0,69.0,72.0,44.0,81.0,44.0,84.0,38.0,47.0,62.0,59.0,81.0,88.0,78.0,35.0,68.2,81.0,78.0,72.0,75.0,76.50

In [10]:
print(df2.shape)

(928, 30)

In [11]:
#df2.info()

## Results

In [12]:
print(df2['PercentMale'].describe())
print(df2['BAME'].describe())

count    927.000000
mean      58.947141
std       22.265927
min        1.000000
25%       45.000000
50%       65.000000
75%       67.000000
max      100.000000
Name: PercentMale, dtype: float64
count    746.000000
mean       0.118391
std        0.113308
min        0.000000
25%        0.030000
50%        0.090000
75%        0.200000
max        0.450000
Name: BAME, dtype: float64

# Example 2b: comparing ethnicity and gender across two functions in an organization using the independent samples t-test

In [13]:
Binary = df2['Function']
Male = df2['PercentMale']
Bame = df2['BAME']

In [14]:
Binary.value_counts()

1.0    502
2.0    425
Name: Function, dtype: int64

In [15]:
Category1 = Binary == 1.0
Category2 = Binary == 2.0
Category1.head()

0    False
1    False
2    False
3    False
4    False
Name: Function, dtype: bool

In [16]:
MaleCatScores1 = Male[Category1].dropna()
MaleCatScores2 = Male[Category2].dropna()
BameCatScores1 = Bame[Category1].dropna()
BameCatScores2 = Bame[Category2].dropna()

## Results

In [17]:
stats.ttest_ind(MaleCatScores1, MaleCatScores2)

Ttest_indResult(statistic=22.89205009849689, pvalue=3.011880130027134e-92)

In [18]:
stats.ttest_ind(MaleCatScores1, MaleCatScores2, equal_var=False)

Ttest_indResult(statistic=22.557481634011907, pvalue=3.183868258781252e-88)

In [19]:
stats.ttest_ind(BameCatScores1, BameCatScores2)

Ttest_indResult(statistic=-5.769549252115938, pvalue=1.1660097024466872e-08)

In [20]:
stats.ttest_ind(BameCatScores1, BameCatScores2, equal_var=False)

Ttest_indResult(statistic=-5.655330335833106, pvalue=2.3448135116211877e-08)

**In comparing the Sales and the Professional Service functions, the proportion of BAME staff is significantly lower in Sales than in Professional Service. The average proportion of BAME staff in teams within the Sales is 9.7 per cent, and by comparison the average proportion of BAME staff in teams within the Professional Service function is 14.39 per cent. Deeper analysis shows that the likelihood of this difference occurring by chance alone is less than 1 in 1,000; suggesting we have an issue that needs attention within the Sales function.**

**In comparing the Sales and the Professional Service functions, the proportion of male staff is significantly higher in Sales than in Professional Service groups within our organization. The average percentage of male staff in teams within Sales is 71.26 per cent, and by comparison the average proportion of male staff in teams within the Professional Service function is 44.4 per cent. Deeper analysis shows the chance of this difference occurring by chance alone is less than 1 in 1,000, suggesting that we have a clear issue of male dominance within our Sales function; this potentially needs attention if we want gender proportions to be similar across our organization.**

# Example 3: using multiple linear regression to model and predict ethnic diversity variation across teams

In [21]:
df2 = df2.dropna()

In [22]:
np.where(np.isnan(df2))

(array([], dtype=int64), array([], dtype=int64))

In [23]:
from sklearn.linear_model import LinearRegression
# Setting the value for X and Y
x = df2[['LondonorNot', 'Function', 'GroupSize', 'NumberFeMaleTeamLeads', 'PercentMale']]
y = df2['BAME']

# Splitting the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [24]:
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [25]:
print("intercept", "\n", mlr.intercept_)
print("coefficients")
list(zip(x, mlr.coef_))

intercept
 0.22134449948000479
coefficients

[('LondonorNot', -0.08697198415717153),
 ('Function', 0.03603078482696022),
 ('GroupSize', -0.00028387441044208916),
 ('NumberFeMaleTeamLeads', 0.000691657114285082),
 ('PercentMale', -0.000490364420537611)]

In [26]:
regressor = LinearRegression(fit_intercept=False)
regressor.fit(x, y)
print("betas")
regressor.coef_

betas

array([-0.06255328,  0.09062557,  0.00031502,  0.00268716,  0.00095093])

In [27]:
# Prediction of test set
y_pred_mlr= mlr.predict(x_test)
# Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [0.10826189 0.1214655  0.13512312 0.03351279 0.13083934 0.18656169
 0.03367315 0.19579603 0.16405704 0.05353995 0.04628352 0.10283143
 0.10355915 0.16279244 0.16673582 0.02999324 0.12224493 0.16178605
 0.11496165 0.03498388 0.12531142 0.15951505 0.18300004 0.13716196
 0.16872334 0.12983334 0.04802282 0.11534377 0.16228168 0.18729987
 0.07218142 0.17843199 0.17087003 0.04599925 0.16658665 0.18071904
 0.10626918 0.13471053 0.12575487 0.09982226 0.16291674 0.17714251
 0.03906715 0.17350347 0.15497306 0.02587864 0.03878289 0.11440437
 0.12162546 0.02840785 0.12644692 0.17368311 0.08178221 0.11610274
 0.16551294 0.09951232 0.08361417 0.05653905 0.17058616 0.02982722
 0.12388685 0.0735186  0.12425811 0.10510863 0.1229891  0.19105236
 0.11821858 0.03338967 0.1307359  0.13001299 0.04482203 0.17306443
 0.11486319 0.11829675 0.0529722  0.07222314 0.08020768 0.1284653
 0.16652933 0.16547642 0.10921237 0.13135537 0.18565874 0.10327047
 0.13398762 0.18444547 0.08730013 0.1696784  0.16689579 0.0770594
 0.04515243 0.05852617 0.04912667 0.11483775 0.12234877 0.16049059
 0.02986335 0.13042077 0.13540699 0.09922845 0.04154425 0.13218172
 0.1664832  0.13248606 0.16676668 0.15696018 0.1818906  0.11984003
 0.11602576 0.1855453  0.0526418  0.09333927 0.13013209 0.09122824
 0.07956215 0.13718361 0.1342663  0.03066845 0.13240828 0.1310663
 0.12162546 0.12871792 0.12149715 0.0770494  0.13104623 0.11455387
 0.04105428 0.17912963 0.18724815 0.03072096 0.08004771 0.12944563
 0.13480319 0.03785388 0.11568937 0.03901583 0.18302609 0.10995955
 0.11656745 0.08482745 0.18196837 0.13016815 0.03931497 0.16931675
 0.04040875 0.19012335]

In [28]:
# Actual value and the predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})

In [29]:
# Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 17.18
Mean Absolute Error: 0.08300334683100785
Mean Square Error: 0.010849021961994387
Root Mean Square Error: 0.10415863844153488

In [30]:
import statsmodels.api as sm

sm.add_constant(x)
mod = sm.OLS(y, x)
mlr = mod.fit()

print(mlr.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   BAME   R-squared (uncentered):                   0.581
Model:                            OLS   Adj. R-squared (uncentered):              0.578
Method:                 Least Squares   F-statistic:                              201.0
Date:                Thu, 14 Apr 2022   Prob (F-statistic):                   2.84e-134
Time:                        02:59:27   Log-Likelihood:                          599.81
No. Observations:                 730   AIC:                                     -1190.
Df Residuals:                     725   BIC:                                     -1167.
Df Model:                           5
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
LondonorNot              -0.0626      0.008     -8.277      0.000      -0.077      -0.048
Function                  0.0906      0.006     14.690      0.000       0.079       0.103
GroupSize                 0.0003      0.000      1.317      0.188      -0.000       0.001
NumberFeMaleTeamLeads     0.0027      0.004      0.710      0.478      -0.005       0.010
PercentMale               0.0010      0.000      6.476      0.000       0.001       0.001
==============================================================================
Omnibus:                       60.976   Durbin-Watson:                   0.343
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               75.396
Skew:                           0.785   Prob(JB):                     4.25e-17
Kurtosis:                       2.888   Cond. No.                         151.
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.